<link rel="stylesheet" href="/CSS/_logo.css">

<div class="logo-container">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>