<link rel="stylesheet" href="/CSS/dashboard.css">

<div class="dashboard-container">
        <div class="friend-list-container">

        </div>
        <div class="dash-msg">
            <h1>Hi Shivam! Welcome to HiveMind</h1>

            <div class="dash-post">
                <%- include('postQuery') %>
            </div>

            <div class="post-show">
                <%- include('postsView') %>
            </div>
        </div>
        
</div>