<link rel="stylesheet" href="/CSS/dashboard.css">

<div class="dashboard-container">
        <div class="friend-list-container">

        </div>
        <div class="dash-msg">
            <p>Hi <%= user.firstName %>! Welcome to HiveMind</p>

            <div class="dash-post">
                <%- include('postQuery') %>
            </div>

            <div class="post-show">
                <%- include('postsView') %>
            </div>
        </div>
        
</div>