<link rel="stylesheet" href="/CSS/home.css">

<div class="home-container">
    <div class="heading-msg">
        <h3>Welcome to the HiveMind !!
        </h3>
    </div>
    <div class="display-msg">
        <p>You are now part of a collective intelligence that harnesses the power of distributed computing and networked devices to solve complex problems and create innovative solutions. Together, we can achieve more than any one individual could on their own. By working in a coordinated and decentralized manner, we can tap into the diverse perspectives, knowledge, and skills of our network to generate new ideas and make progress towards our shared goals. Let's use our collective intelligence to push the boundaries of what is possible and create a better future for all.

        </p>
        <%- include('signIn') %>
    </div>
</div>