<link rel="stylesheet" href="/CSS/postQuery.css">
<form class="form1">
    <p class="heading">Query</p>
    <textarea name="" id="" cols="30" rows="3" class="input" placeholder="Post Your Query Here ..." type="text"></textarea>
    <button class="btn1">Post</button>
</form>