<link rel="stylesheet" href="/CSS/postQuery.css">
<form class="form1" method="post" id="new-post-form" action="/post/create-post">
    <p class="heading">Query</p>
    <textarea name="content" id="" cols="30" rows="2" class="input" placeholder="Post Your Query Here..." type="text"></textarea>
    <button type="submit" class="btn1">Post</button>
</form>