<link rel="stylesheet" href="/CSS/profile.css">

<div class="profile-container">
    <div class="dp-container">
        <div class="card">
            <div class="img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJubza2pErHhPxQXp66ZA--nnwQAILWhEAYA&usqp=CAU" alt="" width="150px" height="150px" style="border-radius: 50%;">
            </div>
            <span><%= user.firstName %> <%= user.lastName %></span>
            <p class="info">I’m Walter, a multidisciplinary designer who focuses on telling my clients’ stories visually, through enjoyable and meaningful experiences. I specialize in responsive websites and functional user interfaces.</p>
            <div class="share">
              <a href=""><i class="fa-brands fa-github" style="color: white;"></i></a>
              <a href=""><i class="fa-brands fa-linkedin" style="color: white;"></i></a>
            </div>
            <button>Update</button>
          </div>
    </div>
    <div class="info-container">
        <div class="list-item-info">
          <p class="field-info">Name: </p>
          <p class="value-info"><%= user.firstName %> <%= user.lastName %></p>
        </div>
        <div class="list-item-info">
          <p class="field-info">Phone: </p>
          <p class="value-info">76772346</p>
        </div>
        <div class="list-item-info">
          <p class="field-info">Email: </p>
          <p class="value-info">shivam@abc.com</p>
        </div>
        <div class="list-item-info">
          <p class="field-info">Job: </p>
          <p class="value-info">MERN Developer</p>
        </div>
        <div class="list-item-info">
          <p class="field-info">Company: </p>
          <p class="value-info">HiveMind</p>
        </div>
        <div class="list-item-info">
          <p class="field-info">Skills: </p>
          <p class="value-info">MERN, JS, HTML, CSS</p>
        </div>
        <div class="list-item-info">
          <p class="field-info">LinkedIn: </p>
          <p class="value-info">www.linkedin.in/shivam-black-sheep</p>
        </div>
        <div class="list-item-info">
          <p class="field-info">GitHub: </p>
          <p class="value-info">www.github.com/shivam-black-sheep</p>
        </div>
        </div>
    </div>
</div>