.dashboard-container{
    padding-top: 70px;
    max-width: 80%;
    margin: auto;
    display: flex;
}
.dash-msg{
    max-width: 60%;
}
.dash-msg p{
    padding-top: 15px;
    font-size: 20px;
}
.friend-list-container{

}
.post-show{
    margin: auto;
}